include dash_datatables/dash_datatables.min.js
include dash_datatables/dash_datatables.min.js.map
include dash_datatables/async-*.js
include dash_datatables/async-*.js.map
include dash_datatables/*-shared.js
include dash_datatables/*-shared.js.map
include dash_datatables/metadata.json
include dash_datatables/package-info.json
include landing-page.md
include README.md
include LICENSE
include package.json
